<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852942704392-pjfi6kurmqpgvadd6olec015fu96367t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852942704392-pjfi6kurmqpgvadd6olec015fu96367t</string>
	<key>API_KEY</key>
	<string>AIzaSyDUMfRKqi3OTTgLcZYUdFOFvoUVX8XZdi4</string>
	<key>GCM_SENDER_ID</key>
	<string>852942704392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.norvera.confession</string>
	<key>PROJECT_ID</key>
	<string>confession-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>confession-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852942704392:ios:f862fec1760d760bef66bd</string>
</dict>
</plist>